body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
  padding: 20%;
}

.col-md-4.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 3rem;
  border-radius: 0.625rem 0 0 0.625rem;
}

.col-md-4.suvs {
  background-color: hsl(184, 100%, 22%);
  padding: 3rem;
}

.col-md-4.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 3rem;
  border-radius: 0 0.625rem 0.625rem 0;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.sedan-button {
  background: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border-color: hsl(0, 0%, 95%);
  border-radius: 15px;
  margin-top: 3.5rem;
}

.suv-button {
  background: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  border-color: hsl(0, 0%, 95%);
  border-radius: 15px;
  margin-top: 3.5rem;
}

.luxury-button {
  background: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border-color: hsl(0, 0%, 95%);
  border-radius: 15px;
  margin-top: 3.5rem;
}

.sedan-icon,
.suv-icon,
.luxury-icon {
  margin-bottom: 2.5rem;
}

.btn:hover {
  background: transparent;
  border-color: hsl(0, 0%, 95%);
}

@media(max-width:500px) {
  body {
    padding: 0;
    margin: 2rem;
  }
}